<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no width=device-width">
	<title>第九中文网</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div class="app">
		<header v-show="view=='home'">
			<a href=""><img :src="'img/logo/'+header.logo" alt=""></a>
			<span>书架</span>
		</header>
		<div class="type" v-show="view=='home'">
			<ul class="typelist clearfix">
				<li v-for="(item,index) in type">
					<a :href="'#/typelist/'+item">{{item}}</a>
				</li>
			</ul>
		</div>
		<div class="search" v-show="view=='home'">
			<input type="text" placeholder="输入书名或者作者" 
			v-model="search">
			<span class="btnsearch" v-on:click="tosearch">搜索</span>
		</div>
		<component :is="view" :query="query" :search="searchvalue"></component>
		<div class="search">
			<input type="text" v-model="search" 
			placeholder="输入书名或者作者">
			<span class="btnsearch" v-on:click="tosearch">搜索</span>
		</div>
		<div class="footer"></div>
	</div>
	<template id="tpl_home">
		<section class="home">
			<div class="content">
				<ul>
					<li v-for="item in type">
						<p><span>{{item}}</span></p>
						<ul>
							<li v-for="iteml in content" v-if="iteml.type==item" class="clearfix">
                                <a :href="'#/catalog/'+iteml.title" v-if="iteml.type==type[0]">
									<img :src="'img/novel/'+iteml.img" alt="">
								</a>
								<div class="con" v-if="iteml.type==type[0]">
									<p class="title">{{iteml.title}}</p>
									<p class="author">{{iteml.author}}</p>
									<p class="review">{{iteml.review}}</p>
								</div>
								<p v-if="iteml.type!=type[0]">
									<a :href="'#/catalog/'+iteml.nover">
										<span>{{iteml.author}}:</span>
									    <span>{{iteml.nover}}</span>
								    </a>
								</p>
						    </li>
						</ul>
					</li>
				</ul>
			</div>
		</section>
	</template>
	<template id="tpl_catalog">
		<section class="tpl_catalog">
			<div class="header common">
				<span class="arrow" v-on:click="goback"></span>
				<h2>{{content.title}}</h2>
				<a href="#/home">首页</a>
			</div>
			<div class="banner">
				<a href="" v-if="content">
					<img :src="'img/novel/'+content.img" alt="" >
				</a>
				<div class="content">
					<p class="author">作者 : {{content.author}}</p>
					<p class="type">类别 : {{content.type}}小说</p>
					<p class="status">状态 : {{content.status}}</p>
					<p class="lastcapter">最新章节 : {{content.lastcapter}}</p>
					<p class="update">更新 : {{content.updatetime}}</p>
				</div>
			</div>
			<div class="pre">
				<p class="btn">
					<a :href="'#/viewnovel/'+content.title+'/1'"><span class="start">开始阅读</span></a>
				    <span class="addmark">加入书架</span>
				    <span class="mymark">我的书架</span>
				    <span class="upload">txt下载</span>
				</p>
				<p class="preview">{{content.preview}}</p>
			</div>
			<div class="capter">
				<p class="top tip" v-on:click="godown">{{tip[0]}}</p>
				<ul class="detail">
					<li v-for="item in dealcatalog">
						<a :href="'#/viewnovel/'+content.title+'/'+item.index">{{item.pop}}</a>
					</li>	
				</ul>
				<p class="bottom tip" v-on:click="viewmore" v-show="tip[1]">{{tip[1]}}</p>
			</div>
		</section>
	</template>
	<template id="tpl_typelist">
		<section class="typelist">
			<div class="header common">
				<span class="arrow" v-on:click="goback"></span>
				<h2>{{dealquery}}小说</h2>
				<a href="#/home">首页</a>
			</div>
			<div class="typebox">
				<ul class="type clearfix">
					<li v-for="item in type">
						<a :href="'#/typelist/'+item">
							<span>{{item}}</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="novelist">
				<ul>
					<li v-for="item in dealcontent">
						<a :href="'#/catalog/'+item.title">
							<img :src="'img/novel/'+item.img" alt="">
						</a>
						<div class="content">
							<p class="title">{{item.title}}</p>
							<p class="author">作者:{{item.author}}</p>
							<p class="preview">{{item.preview}}</p>		
					    </div>
					    <span class="arrow" v-on:click="open"></span>
					</li>
				</ul>
			</div>
			<div class="page">
				<span class="pre"  v-on:click="turnto" v-show="page>1">上一页</span>
                <input type="text" v-model="textpage" 
                       v-on:focus="focus" v-on:blur="blur" id="textpage">
				<span class="next" v-on:click="turnto" v-show="total>1">{{next}}</span>
			</div>
		</section>
	</template>
	<template id="tpl_viewnovel">
		<section class="tpl_viewnovel">
			<div class="header">
				<span class="arrow" v-on:click="goback"></span>
				<span class="title">{{pagesub.title}}</span>
				<span class="bookname">{{content.title}}</span>
			</div>
			<div class="btn">
				<p class="tool">
					<span class="light" 
					    v-on:click="closelight"
					    v-bind:style="{background:lightbg}"
					>
						{{light}}
					</span>
					<span class="eyes" v-on:click="eyes" v-bind:style="{background:eyesbg}">护眼</span>
					<span class="label">字体:</span>
					<span class="font large" v-on:click="large" v-bind:class="fontbg[0]">大</span>
					<span class="font middle" v-on:click="middle" v-bind:class="fontbg[1]">中</span>
					<span class="font min" v-on:click="min" v-bind:class="fontbg[2]">小</span>
					<a href="#/home">首页</a>
				</p>
				<p class="readpage">
					<a :href="'#/viewnovel/'+content.title+'/'+(+query[1]-1||1)"><span class="pre">上一章</span></a>
					<a :href="'#/catalog/'+content.title">
						<span class="catalog">目录</span>
					</a>
					<a :href="'#/viewnovel/'+content.title+'/'+(+query[1]+1)"><span class="next">下一章</span></a>
				</p>
			</div>
			<div class="container" v-bind:style="{background:bg}">
				<span class="defaults">『点击章节报错』</span>
				<p class="content" v-bind:style="{color:color,fontSize:font}">{{pagesub.content}}</p>
			</div>
			<p class="readpage">
				<a :href="'#/viewnovel/'+content.title+'/'+(+query[1]-1||1)"><span class="pre">上一章</span></a>
				<a :href="'#/catalog/'+content.title">
					<span class="catalog">目录</span>
				</a>
				<a :href="'#/viewnovel/'+content.title+'/'+(+query[1]+1)"><span class="next">下一章</span></a>
			</p>
		</section>
	</template>
	<template id="tpl_login"></template>
	<script type="text/javascript" src="js/lib/vue.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/route.js"></script>
</body>
</html>